.heroImg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("./img/hero.jpg");
  height: 65vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  clip-path: ellipse(130% 67% at 100% 31%);
}
@media only screen and (max-width: 850px) { 
  .heroImg {
    background-position: 31% 15%;;
  }
} 
.heroText {
    text-align: center;
    top: 50%;
    left: 50%;
    color: white;
    margin-top: 50px;
    transform: translate(0%, 20vh);
}
  .heroText h1 {
    font-size: 50px;
    margin-bottom: 5px;
}
  .heroText h2 {
    font-size: 30px;
}